.navbar {
  background-color: white;
  color: #17a2b8;
  z-index: 1;
  width: 100%;
  display: flex;
}

.navbar-brand {
  color: #17a2b8;
  font-size: 1.5em;
}

.navi {
  width: 100%;
}

.nav-item {
  padding-left: 40px;
  font-size: 1.25em;
}
.nav-link:hover {
  color: white;
}

button:focus {
  outline: 1px dotted;
  outline: none;
}
